:root {
  --background : rgba(4, 117, 216, 1);
  --light: #39BF17;
  --dark: rgba(29, 38, 63, 1);
  --medium: rgba(238, 4, 242, 1);
  --contrast: #FFFF00;
}

html, body {
    background-color: var(--background);
}

header, .linkTop {
    background-color: var(--dark);
    color: var(--contrast);
}

.progress-container { background-color: #666666}
.progress-bar { background-color: var(--medium)}

.sub-content h1, .frame, .modal-content {
    background-color: var(--dark);
    color: var(--light);
}

.chip {
    background-color: var(--light);
    color: var(--dark);
}

.close, .kw {
    color: var(--medium);
}

.hobbies li {
    border-color: var(--medium);
}

.info, .title {
    background-color: var(--background);
    color: var(--contrast);
}

.title::before {
    color: var(--background);
}

.outer {
    background-color: transparent;
}

.btn-skill {
    background: linear-gradient(24deg, rgba(57,191,23,1) 0%, rgba(10,191,133,1) 39%, rgba(246,0,255,1) 100%);
}

.modal-content strong {
    color: var(--medium);
}

.python {color: rgb(62, 111, 143);}
.css {color: rgb(184, 109, 29);}
.php {color: rgb(114, 99, 135);}
.ruby {color: rgb(99, 19, 19);}
.js {color: rgb(131, 124, 26);}
.unity {color: rgb(0, 0, 0);}
.google, .fa-linkedin-in, .githubF {color: white;}

