html, body {
    font-size: 1.1em;
}

header {
    font-size: 1.4rem;
    position: sticky;
    top: 0;
 }

.nav {
    flex-direction: row;
}

.sub-content h1 {
    margin: 20px 40%;
}

.frame {
    flex-direction: row;
}

.frame img {
    height: 200px;
}

.frame-content p {
    width: 80%;
}

.chip {
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
}

.skillPart {
    flex-direction: row;
}

.hobbies {
    flex-direction: row;
}

.hobbies li {
    margin: 5px 20px;
    border-radius: 50px;
    border: 1px solid;
    padding: 10px 15px;
}

.modal-content {
    margin: 25% auto;
    font-size: 1em;
    width: 50%;
}

.close {
    font-size: 35px;
}
