<!DOCTYPE html>
<html lang="fr" dir="ltr">

{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'portefolio/color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'portefolio/animation.css' %}">
    <script src="https://kit.fontawesome.com/f0c5800638.js" crossorigin="anonymous"></script>
    <title>Mon Portfolio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'portefolio/new.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'portefolio/timeline.css'%}">
    <link rel="stylesheet" type="text/css" media="only screen and (max-width: 1023px)" href="{% static 'portefolio/newPhone.css'%}">
    <link rel="stylesheet" type="text/css" media="only screen and (min-width: 1024px)"  href="{% static 'portefolio/newComputer.css'%}">
     <script src="https://unpkg.com/scrollreveal@4"></script>
</head>

<script>
    window.onscroll = function() {myFunction()};

    function myFunction() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("myBar").style.width = scrolled + "%";
    }
</script>

<header class="navbar">
    <div class="nav">
        <div class="navleft">
            <p class="linkTop">Mattéo Langlois<br>
                Etudiant en L2 informatique</p>
        </div>
        <div class="navRight">
            <div><a href="#projets" class="linkTop">
                    <i class="fas fa-tasks icon"></i>Projets</a></div>
            <div><a href="#profil" class="linkTop">
                    <i class="fas fa-address-card icon"></i>Profil</a></div>
            <div><a href="/var/www/html/images/portefolio/MatteoLangloisCV.pdf" class="linkTop">
                    <i class="fas fa-id-card-alt icon"></i>CV</a></div>
        </div>
    </div>
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</header>

<div class="content">
    <span>
        <div id="projets" class="sub-content">
            <div>
              <h1>Mes Projets</h1>
                {% for project in projects %}
                    {% if project.visible %}
                        <div class="frame Reveal">
                            <img src="/media/{{ project.image }}" class="image" alt="{{ project.title }}">
                            <div class="frame-content">
                                <a>
                                    <h3>{{ project.title }} | <i class="fas fa-calendar-day"></i> {{project.date}}
                                        {% if project.hasLink %} | <a href="{{ project.link }}"><i class="fa-brands fa-github"></i></a> {% endif %}</h3>
                                    <p>
                                        {{ project.description }}
                                    </p>
                                    <div class="chips">
                                        {% for tag in project.tags.all %}
                                            <div class="chip">
                                                <i class="{{ tag.icon }}"></i>
                                                {{ tag.name }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="profil" class="sub-content">
                <h1>Mon Profil</h1>
                <div class="frame Reveal">
                    <h2>Etudes</h2>
                    <div class="timeline etudes">
                        <div class="outer">
                        {% for studie in educations %}
                            {% if studie.visible %}
                                <div class="card">
                                  <div class="info">
                                    <h3 class="title">{{studie.date}}</h3>
                                    <p> {{studie.title}} </p>
                                  </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    <h2>Expériences</h2>
                    <div class="timeline experience">
                          <div class="outer">
                              {% for experience in experiences %}
                                  {% if experience.visible %}
                                    <div class="card">
                                      <div class="info">
                                        <h3 class="title">{{experience.date}} : {{experience.title}} </h3>
                                        <p> {{experience.description}} </p>
                                      </div>
                                    </div>
                                  {% endif %}
                              {% endfor %}
                          </div>
                    </div>
                </div>

                <div class="frame Reveal">
                    <h2>Compétences</h2>
                    <div class="skillPart">
                        <div>
                            <h3><i class="fa-solid fa-terminal"></i> Compétences techniques</h3>
                            {% for skill in skills %}
                                {% if skill.visible %}
                                    <button class="chip btn-skill" onclick="document.getElementById('modal-{{ skill.name }}').style.display = 'block';">
                                        <i class="{{skill.icon}}"></i> {{skill.name}}
                                    </button>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div>
                            <h3><i class="fa-solid fa-language"></i> Langues</h3>
                            {% for language in languages %}
                                {% if language.visible %}
                                    <div class="chip">
                                        {{ language.language | safe }} : {{ language.level }}
                                    </div>
                                {% endif %}
                            {% endfor %}

                            <h3><i class="fa-solid fa-screwdriver-wrench"></i> Qualités</h3>
                            {% for strength in strengths %}
                                {% if strength.visible %}
                                    <div class="chip">
                                        <i class="{{ strength.icon }}"></i>
                                        {{ strength.name }}
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>

                {% for skill in skills %}
                    {% if skill.visible %}
                        <div id='modal-{{skill.name}}' class="modal" style="display: none;">
                            <div class="modal-content">
                                <button class="close" onclick="document.getElementById('modal-{{skill.name}}').style.display = 'none';">
                                    <i class="fas fa-times"></i>
                                </button>
                                <h1><i class="{{skill.icon}}"></i> {{skill.name}}</h1>
                                {{skill.description_html | safe }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="frame Reveal">
                    <h2>Hobbies</h2>
                        <ul class="hobbies">
                            {% for hobbie in hobbies %}
                                {% if hobbie.visible %}
                                    <li><i class="{{ hobbie.icon }}"></i> {{ hobbie.name }} </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                </div>
            </div>
        </div>
    </span>
</div>
<script>
        ScrollReveal().reveal('.Reveal', {
                                            scale: 0.5,
                                            origin : 'right',
                                            opacity: 0.7,
                                            duration: 300,
                                            distance: '500px',
                                            easing: 'ease-in-out',
                                            reset: false,
                                            mobile:false});

</script>
