html, body {
    font-size: 1.6em;
    width: 100vw;
    margin: 0;
}

header {
    font-size: 2.2rem;
    position: sticky;
    top: 0;
}

.nav {
    flex-direction: column;
}

.sub-content h1 {
    margin: 20px 10%;
}

.frame, .skillPart, .hobbies {
    flex-direction: column;
}

.frame img {
    height: auto;
}

.frame-content p, .frame-content h3 {
    width: 100%;
}

.chip {
  height: 80px;
  font-size: 50px;
  line-height: 80px;
  border-radius: 40px;
}

.hobbies li {
    margin: 20px;
    border-radius: 40px;
    border: 2px solid;
    padding: 20px 45px;
}

.modal-content {
    margin: 45% auto;
    font-size: 2em;
    width: 90%;
}

.close {
    font-size: 65px;
}
