<section id="profil" class="mt-3 z-10 flex flex-col justify-center">
    <div class="flex flex-col flex-wrap w-full">
        <h1 class="text-8xl lg:text-6xl m-10 rounded p-3 w-fit text-light_dark dark:text-dark_dark
        items-center self-center font-bold font-oswald bg-light_background backdrop-blur-md lg:rounded-lg
        saturate-180 dark:bg-dark_background" id="profil">Mon profil</h1>
    </div>

    {% include 'portefolio/blocks/educ_block.html' %}
    {% include 'portefolio/blocks/expe_block.html' %}
    {% include 'portefolio/blocks/skills_block.html' %}
    {% include 'portefolio/blocks/languages_block.html' %}
    {% include 'portefolio/blocks/strengths_block.html' %}
</section>